*{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}
@keyframes fadeIn {
    0%{
    }
    100%{
    }
}


body{
    background-color: #6a6a6a;
}

/*--- menu*/
.menu-box{
    position: fixed;
    z-index: 10;
    height: 10vh;
    width: 100vw;
    background-color: #5d5c5c8b;
}

.menu-in{
    text-decoration: none;
    color: inherit;
    color: white;
    font-size: 1.3vw;
    text-shadow: 2px 2px 20px #000000;
}
.menu-in:hover{
    text-shadow: 2px 2px 20px #1408ff;
}

.no-bg{
    background-color: transparent;
    border: none;
    margin-left: 55px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}
.no-bg:hover{
    background-color: transparent;
    border: none;
    scale: 1.2;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}


form{
    position: relative;
    top: 10vh;
    left: -5vw;
}
.t{
    text-shadow: 2px 2px 5px #090909;
    color: white;
    font-size: 1.2vw;
}

#submit{
    width: 10vw;
    position: relative;
    top: 5vh;
    height: 5vh;
    background-color: #2d22fe87;
    border-radius: 1vw;
    box-shadow: 2px 2px 20px #00000058;
    border: none;
    color: rgb(30, 222, 239);
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
}
#submit:hover{
    box-shadow: 2px 2px 20px #00d0ff;
    border-radius: 1vw;
    width: 15vw;
    height: 6vh;
    color: rgb(30, 222, 239);
    text-shadow: 2px 2px 10px #000000;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
}

#submit:active{
    color: rgb(98, 255, 0);
    background-color: seagreen;
}
.f-in{
    width: 30vw;
    height: 4vh;
    border-radius: 1vw;
    position: relative;
    padding-left: 2vw;
}
.f-in-m{
    width: 30vw;
    border-radius: 1vw;
    padding-left: 2vw;
    left: 3vw;
    position: relative;
}

#name-6797,#email-6797{
    position: relative;
    left: 5vw;
    height: 6vh;
    margin-top: 5vh;
    background-color: #e6e6e6b9;
}
#message-6797{
    position: relative;
    left: 4vw;
    margin-top: 5vh;
    padding-top: 2vw;
    background-color: #e6e6e6b9;
}
#text-b47d{
    left: 2.5vw;
    height: 6vh;
    margin-top: 5vh;
    background-color: #e6e6e6b9;
}

@media (max-width: 502px) {
    #ig{
        scale: 2.3;
        top: -20vh;
    }
    .menu-in{
        font-size: 3.5vw;
    }
    .no-bg{
       margin-left: 6vw;

    }

    form{
        position: relative;
        top: 10vh;
        left: -5vw;
    }
    .t{
        text-shadow: 2px 2px 5px #090909;
        color: white;
        font-size: 3vw;
    }
    
    #submit{
        width: 15vw;
        position: relative;
        top: 5vh;
        height: 5vh;
        background-color: #2d22fe87;
        border-radius: 1vw;
        box-shadow: 2px 2px 20px #00000058;
        border: none;
        color: rgb(30, 222, 239);
        transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
    }
    #submit:hover{
        box-shadow: 2px 2px 20px #00d0ff;
        border-radius: 1vw;
        width: 15vw;
        height: 6vh;
        color: rgb(30, 222, 239);
        text-shadow: 2px 2px 10px #000000;
        transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
        cursor: pointer;
    }
    
    #submit:active{
        color: rgb(98, 255, 0);
        background-color: seagreen;
    }
    .f-in{
        width: 50vw;
        height: 4vh;
        border-radius: 2vw;
        position: relative;
        padding-left: 2vw;
    }
    .f-in-m{
        width: 50vw;
        border-radius: 1vw;
        padding-left: 2vw;
        left: 3vw;
        position: relative;
    }
    
    #name-6797,#email-6797{
        position: relative;
        left: 5vw;
        height: 6vh;
        margin-top: 5vh;
        background-color: #e6e6e6b9;
    }
    #message-6797{
        position: relative;
        left: 4vw;
        margin-top: 5vh;
        padding-top: 2vw;
        background-color: #e6e6e6b9;
    }
    #text-b47d{
        left: 2.5vw;
        height: 6vh;
        margin-top: 5vh;
        background-color: #e6e6e6b9;
    }
}