*{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}
@keyframes fadeIn {
    0%{
    }
    100%{
    }
}

/*menu*/
.menu-box{
    position: fixed;
    z-index: 10;
    height: 10vh;
    width: 100vw;
    background-color: #5d5c5c8b;
}

.menu-in{
    text-decoration: none;
    color: inherit;
    color: rgb(255, 246, 246);
    font-size: 1.3vw;
    text-shadow: 2px 2px 20px #000000;
}
.menu-in:hover{
    text-shadow: 2px 2px 20px #1408ff;
}

.no-bg{
    background-color: transparent;
    border: none;
    margin-left: 55px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}
.no-bg:hover{
    background-color: transparent;
    border: none;
    scale: 1.2;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}



/*---- ID*/
#linea{
    background-color: rgba(0, 115, 255, 0.801);
    width: 15vh;
    height: 2vh;
    position: absolute;
    top: 30vh;
    border-radius: 10px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    box-shadow: 2px 2px 20px #00000093;
}
#linea:hover{
    background-color: rgba(0, 115, 255, 0.669);
    width: 40vw;
    height: 2vh;
    z-index: 1;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    box-shadow: 2px 2px 20px #0bc2ff6a;
}
#atitle{
    width: 10vw;
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
}
#atitle:hover{
    text-shadow: 2px 2px 10px #0095ff83;
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
}
#q1{
    left: 13vw;
    background-image: url(c-social/ps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#q2{
    left: 33vw;
    background-image: url(c-social/webds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#q3{
    left: 53vw;
    background-image: url(c-social/dev-siteimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#q4{
    left: 73vw;
    background-image: url(c-social/prem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#b-cont{
    background-color: #4778fe;
    width: 15vw;
    height: 7vh;
    border-radius: 20px;
    position: absolute;
    top: 75vh;
}
.bc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





/*---- CLASS*/
.bg{
    background-image: linear-gradient(rgb(47, 47, 47), black);
    height: 100vh;
    width: 100vw;
}
.title{
    position: relative;
    top: 20vh;
    color: white;
    font-size: 5vh;
    text-shadow: 2px 2px 20px #ffffff8e;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}
.qcont{
    top: 40vh;
    width: 10vw;
    height: 10vw;
    background-color: #727272;
    border-radius: 20%;
    position: absolute;
    box-shadow: 2px 2px 20px #000000;
}
.t-q{
    position: absolute;
    font-size: 17px;
    top: 22vh;
    color: white;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 5px #3899e489;
}



@media (max-width: 800px) {
    /*---- MENU*/
    .menu-in{
        font-size: 3.5vw;
    }
    .no-bg{
        margin-left: 15px;
    }
    .menu-box{
        opacity: 100%;
        position: absolute;
    }

    /*---- cont*/
    #atitle{
        position: absolute;
        left: 35vw;
    }
    .t-q{
        position: absolute;
        top: 6vh;
        font-size: 2vw;
    }

    .qcont{
        scale: 1.5;
    }


    /*-- pulsante*/
    #b-cont{
        width: 30vw;
    }
}